@{
    ViewBag.Title = "User Management System";
}
<!-- Button to trigger login modal -->
<!-- Modal -->
<div class="modal text-center fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header ">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 align-center">
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="defaultForm-email" class="form-control validate">
          <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="defaultForm-pass" class="form-control validate">
          <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button id="login-btn" class="btn btn-default">Login</button>
      </div>
    </div>
  </div>
</div>



<div class="jumbotron">
    <h1>User Management System</h1>
    <p class="lead">Welcome to the User Management System, where you can manage your users and their information.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Create a User</h2>
        <p>
            With our User Management System, you can easily create new users and input their information into our database.
        </p>
        <p><a id="create-user-btn" class="btn btn-default s">Create User &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Edit a User</h2>
        <p>Update a user's information, such as their name, email, or password.</p>
        <p><a id="edit-user-btn" class="btn btn-default s">Edit User &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Delete a User</h2>
        <p>Delete a user from our system. This action is permanent and cannot be undone.</p>
        <p><a id="delete-user-btn" class="btn btn-default">Delete User &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>User List</h2>
        <p>View a list of all current users in our system and their information.</p>
        <p><a id="all-user-btn" class="btn btn-default">View User List &raquo;</a></p>
    </div>
</div>