@{
    ViewBag.Title = "User Management System";
}



<div id="errorModal" data-dismiss="#myModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Please Enter Username and Password</h3>
            </div>
        </div>
    </div>
</div>

<div id="errorModal_1" data-dismiss="#myModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Incorrect Username or Password </h3>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please Login to continue</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary login-button">Login</button>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <h1>User Management System</h1>
    <p class="lead">Welcome to the User Management System, where you can manage your users and their information.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Create a User</h2>
        <p>
            With our User Management System, you can easily create new users and input their information into our database.
        </p>
        <p><a id="create-user-btn" class="btn btn-default check-login">Create User &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Edit a User</h2>
        <p>Update a user's information, such as their name, email, or password.</p>
        <p><a id="edit-user-btn" class="btn btn-default check-login">Edit User &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Delete a User</h2>
        <p>Delete a user from our system. This action is permanent and cannot be undone.</p>
        <p><a id="delete-user-btn" class="btn btn-default check-login">Delete User &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>User List</h2>
        <p>View a list of all current users in our system and their information.</p>
        <p><a id="all-user-btn" class="btn btn-default check-login">View User List &raquo;</a></p>
    </div>
</div>